.menu-section {
    font-family: Inter, sans-serif;
    background-image: url('src/assets/background/menu.svg'); 
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem 0;
    text-align: center;

  }
  
  .text-h2 {
    color: #35B8BE;
    font-size: 50px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 1.65px;

  }
  
  .text-p {
    color: #546285;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.36px;
  }
  
  .button-group {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 30px 0;
  }
  
  .menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 40px;
  }
  
  .see-more-button {
    display: block;
    margin: 10px;
    background-color: #35B8BE;
    color: #fff;    
  }
  
  
  .tooltip {
    position: relative;
    cursor: pointer;
    color: #35B8BE;
    font-weight: 400;
    font-family: Inter, sans-serif;
    font-size: 16px;
  }
  
  .tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #35B8BE;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%;
    margin-left: -60px; 
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  